name: Flutter test
 
on:
  push:
    tags:
      - v*
 
jobs:
  process:
    name: all process
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: "17.x"
      - name: Flutter action
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: "stable"
          flutter-version: "3.22.x"
      - run: flutter pub get
      - run: flutter build apk --release
